<div class="l-wrapper">
  <div class="l-stack l-stack--section">
    <h2 class="c-title u-sr-only" id="tips-title">Healthy habits</h2>
    <ul class="l-grid l-grid--tips">
      <li class="l-grid__item">
        <article
          class="c-tip c-tip--eating l-cluster"
          aria-labelledby="tip-eating"
        >
          <img src="./images/icon-eating.svg" class="c-tip__icon" alt="" />
          <div class="l-stack l-stack--card">
            <h3 class="c-title c-title--card" id="tip-eating">
              Healthy eating
            </h3>
            <p class="c-paragraph">
              Healthy eating promotes weight control, disease prevention, better
              digestion, immunity, mental clarity, and mood.
            </p>
          </div>
        </article>
      </li>
      <li class="l-grid__item">
        <article
          class="c-tip c-tip--exercise l-cluster"
          aria-labelledby="tip-exercise"
        >
          <img src="./images/icon-exercise.svg" class="c-tip__icon" alt="" />
          <div class="l-stack l-stack--card">
            <h3 class="c-title c-title--card" id="tip-exercise">
              Regular exercise
            </h3>
            <p class="c-paragraph">
              Exercise improves fitness, aids weight control, elevates mood, and
              reduces disease risk, fostering wellness and longevity.
            </p>
          </div>
        </article>
      </li>
      <li class="l-grid__item">
        <article
          class="c-tip c-tip--sleep l-cluster"
          aria-labelledby="tip-sleep"
        >
          <img src="./images/icon-sleep.svg" class="c-tip__icon" alt="" />
          <div class="l-stack l-stack--card">
            <h3 class="c-title c-title--card" id="tip-sleep">Adequate sleep</h3>
            <p class="c-paragraph">
              Sleep enhances mental clarity, emotional stability, and physical
              wellness, promoting overall restoration and rejuvenation.
            </p>
          </div>
        </article>
      </li>
    </ul>
  </div>
</div>
