<div class="l-wrapper">
  <div class="l-stack l-stack--section">
    <header class="c-hero__header">
      <a class="c-brand" href="#hero-title" aria-label="BMI calculator home"
        ><img
          src="./images/logo.svg"
          class="c-hero__logo"
          alt="BMI calculator"
      /></a>
    </header>
    <div class="l-grid l-grid--hero">
      <div class="l-grid__item l-hero__text">
        <div class="l-stack l-stack--intro">
          <h1 class="c-title c-title--hero" id="hero-title">
            Body Mass<br class="c-title__newline"> Index Calculator
          </h1>
          <p class="c-paragraph">
            Better understand your weight in relation to your height using our body mass index (BMI) calculator. While BMI is not the sole determinant of a healthy weight, it offers a valuable starting point to evaluate your overall health and well-being.
          </p>
        </div>
      </div>
      <div class="l-grid__item l-hero__form">
        <!-- 계산기 -->
        @@include('./calculator.html')
      </div>
    </div>
  </div>
</div>
