<div class="l-wrapper">
  <div class="l-grid l-grid--limitations">
    <div class="l-grid__item l-limitations__title">
      <div class="l-stack l-stack--intro">
        <h2 class="c-title c-title--section" id="limitations-title">
          Limitations of BMI
        </h2>
        <p class="c-paragraph">
          Although BMI is often a practical indicator of healthy weight, it is
          not suited for every person. Specific groups should carefully consider
          their BMI outcomes, and in certain cases, the measurement may not be
          beneficial to use.
        </p>
      </div>
    </div>
    <div class="l-grid__item l-limitations__gender">
      <article
        class="c-card c-card--limitation l-box"
        aria-labelledby="limitation-gender"
      >
        <div class="l-stack l-stack--card">
          <h3 class="c-title c-title--card l-with-icon" id="limitation-gender">
            <svg
              class="icon l-icon"
              aria-hidden="true"
              focusable="false"
              viewBox="0 0 32 32"
            >
              <use href="./images/icon-gender.svg"></use>
            </svg>
            <span>Gender</span>
          </h3>
          <p class="c-paragraph">
            The development and body fat composition of girls and boys vary with
            age. Consequently, a child's age and gender are considered when
            evaluating their BMI.
          </p>
        </div>
      </article>
    </div>
    <div class="l-grid__item l-limitations__age">
      <article
        class="c-card c-card--limitation l-box"
        aria-labelledby="limitation-age"
      >
        <div class="l-stack l-stack--card">
          <h3 class="c-title c-title--card l-with-icon" id="limitation-age">
            <svg
              class="icon l-icon"
              aria-hidden="true"
              focusable="false"
              viewBox="0 0 32 32"
            >
              <use href="./images/icon-age.svg"></use>
            </svg>
            <span>Age</span>
          </h3>
          <p class="c-paragraph">
            In aging individuals, increased body fat and muscle loss may cause
            BMI to underestimate body fat content.
          </p>
        </div>
      </article>
    </div>
    <div class="l-grid__item l-limitations__muscle">
      <article
        class="c-card c-card--limitation l-box"
        aria-labelledby="limitation-muscle"
      >
        <div class="l-stack l-stack--card">
          <h3 class="c-title c-title--card l-with-icon" id="limitation-muscle">
            <svg
              class="icon l-icon"
              aria-hidden="true"
              focusable="false"
              viewBox="0 0 32 32"
            >
              <use href="./images/icon-muscle.svg"></use>
            </svg>
            <span>Muscle</span>
          </h3>
          <p class="c-paragraph">
            BMI may misclassify muscular individuals as overweight or obese, as
            it doesn't differentiate muscle from fat.
          </p>
        </div>
      </article>
    </div>
    <div class="l-grid__item l-limitations__pregnancy">
      <article
        class="c-card c-card--limitation l-box"
        aria-labelledby="limitation-pregnancy"
      >
        <div class="l-stack l-stack--card">
          <h3
            class="c-title c-title--card l-with-icon"
            id="limitation-pregnancy"
          >
            <svg
              class="icon l-icon"
              aria-hidden="true"
              focusable="false"
              viewBox="0 0 32 32"
            >
              <use href="./images/icon-pregnancy.svg"></use>
            </svg>
            <span>Pregnancy</span>
          </h3>
          <p class="c-paragraph">
            Expectant mothers experience weight gain due to their growing baby.
            Maintaining a healthy pre-pregnancy BMI is advisable to minimise
            health risks for both mother and child.
          </p>
        </div>
      </article>
    </div>
    <div class="l-grid__item l-limitations__race">
      <article
        class="c-card c-card--limitation l-box"
        aria-labelledby="limitation-race"
      >
        <div class="l-stack l-stack--card">
          <h3 class="c-title c-title--card l-with-icon" id="limitation-race">
            <svg
              class="icon l-icon"
              aria-hidden="true"
              focusable="false"
              viewBox="0 0 32 32"
            >
              <use href="./images/icon-race.svg"></use>
            </svg>
            <spand>Race</spand>
          </h3>
          <p class="c-paragraph">
            Certain health concerns may affect individuals of some Black and
            Asian origins at lower BMIs than others. To learn more, it is
            advised to discuss this with your GP or practice nurse.
          </p>
        </div>
      </article>
    </div>
  </div>
</div>
