@use 'variables' as *;
@use 'mixins' as *;

.c-field {
  .l-stack--field {
    --space: 8px;
    .c-field__label {
      @include font-style(14px, 400, 1.5);
      color: $grey-500;
    }
    .c-field__control {
      .l-cluster--input {
        padding: 24px;
        border-color: $grey-500;
        flex-wrap: nowrap;
        .c-input {
          @include font-style(24px, 600, 1.2);
          color: $Blue-900;
          letter-spacing: -5%;
          border: 0;
          width: 100%;
          flex-grow: 0;
          min-width: 0;
          background-color: transparent;
        }
        .c-field__unit {
          @include font-style(24px, 600, 1.2);
          color: $Blue-500;
          letter-spacing: -5%;
          flex-shrink: 0;
        }
      }
    }
  }
}

.c-calculator {
  margin: auto;
  width: min(clamp(20.5rem, calc(-0.85rem + 91.094vw), 42.875rem), 100%);

  @include mq('desktop') {
    width: 35.25rem; //564px
  }

  .l-stack--calculator {
    border-radius: 1.5rem; //24px
  }

  .l-stack {
    --padding: 24px;

    .c-title {
      @include font-style(24px, 600, 1.2);
      letter-spacing: -5%;
      color: $Blue-900;
    }

    fieldset.c-fieldset:nth-of-type(1) {
      .l-cluster--units {
        justify-content: space-between;
        --space: 24px;

        label[for='unit-metric'],
        label[for='unit-imperial'] {
          flex: 1;
        }

        .c-radio {
          .l-cluster--radio {          
            justify-content: space-around;

            @include mq('tablet'){
              justify-content:initial;
            }
          
            --space: 16px;
            &::before {
              content: '';
              display: block;
              border: 1px solid $grey-500;
              width: 31px;
              height: 31px;
              border-radius: 50%;
            }
            .c-radio__label {
              @include font-style(16px, 600, 1.5);
              color: $Blue-900;
            }
          }

          &:has(.c-radio__input:checked) {
            .l-cluster--radio {
              &::before {
                border: 0;

                /* 1. 중앙 원 색상 */
                background-color: $Blue-500;
                width: 15px;
                height: 15px;

                /* 2. 바깥쪽 연한 파란색 원 (번짐 없이 깨끗하게 채우는 그림자) */
                /* 구조: x축 y축 번짐크기 확장크기 색상 */
                box-shadow: 0 0 0 8px $Blue-100;

                margin-inline-end: 16px; /* 바깥 영역이 넓어졌으므로 마진 확보 */
                margin-inline-start: 10px;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
  }

  fieldset#metric-fields {
    .l-grid--measurements {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, auto);
      row-gap: 1rem;

      @include mq('tablet'){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(1, auto);
        column-gap: 1.5rem; //24px
      }
    }
  }

  fieldset#imperial-fields {

    .c-fieldset__layout {
      --space: 16px;
    }
    .c-fieldset__layout-inner {
      --space: 8px;
    }
    .c-fieldset__title {
      @include font-style(14px, 400, 1.5);
      color: $grey-500;
    }
    .l-grid--measurements {
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 7.5rem), 1fr));
      
      grid-template-rows: 1fr;
      gap: 16px;

      .c-field__control {
        .l-box {
          --padding: 24px;
        }
      }
    }
  }

  .c-bmi-result {
    background-color: $Blue-500;
    --padding: 1.5rem;  //24px

    @include mq('tablet'){
      --padding: 2rem;  //32px
      border-top-right-radius: 999px;
      border-bottom-right-radius: 999px;
    }

    .l-stack--result {
      --space: 1.5rem;  //24px

      @include mq('tablet') {
        flex-direction: row;
        align-items: center;
        
        > .l-stack--title,
        > .c-bmi-result__text{
          flex: 1;
        }
      }

      .l-stack--title {
        --space: 0.5rem; //8px
        .c-title {
          color: $White;
          @include font-style(1rem, 600, 1.5);
        }

        .c-bmi-result__value {
          color: $White;
          @include font-style(3rem, 600, 1.5);  //48px
        }
      }
      .c-bmi-result__text {
        color: $White;
        @include font-style(0.875rem, 400, 1.5);  //14x

        span {
          @include font-style(0.875rem, 600, 1.5);  //14px
        }
      }
    }
  }
}
