@use 'fonts' as *;
@use 'reset' as *;
@use 'variables' as *;
@use 'mixins' as *; // _mixins.scss 파일이 같은 폴더에 있는 경우
@use 'layout' as *;
@use 'utilities' as *;
@use 'components';



header {
  margin-inline-start: auto;
  margin-inline-end: auto;

  @include mq('desktop') {
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  .c-hreo__image {
    width: clamp(2.25rem, calc(0.75rem + 3.125vw), 2.75rem);
    height: auto;
    aspect-ratio: 1;
  }
}

.l-grid.l-grid--hero {
  grid-template-columns: 1fr;
  row-gap: 32px; 

  .l-hero__form{

  }
}

.c-title--hero{
  @include font-style(48px, 600, 1.1);
  letter-spacing: -5%;
  color: $Blue-900;
  text-align: center;
}

.c-paragraph{
  @include font-style(16px, 400, 1.5);
  color: $grey-500;
  text-align: center;
}

.c-title__newline{
  display: none;

  @include mq('tablet'){
    display: block;
  }
}